@media only screen and (max-width: 600px) {
    #UI_UX {
        height: 20vh;
        background-color: #f6f6f6;
        text-align: center;
        padding: 50px;
        line-height: 150%;
        font-size: larger;

    }

    #UI_UX>h1 {
        font-size: 2rem;
    }

    #text {
        color: gray;
    }


    #Boxes {
        height: 50vh;
        background-color: lightgrey;
    }

    .darkGray {
        background-color: darkgrey;
        width: 25%;
        height: 20vh;
        float: left;
        transition: 0.3;

    }

    .lightGray {
        background-color: lightgray;
        width: 25%;
        height: 20vh;
        float: left;
        transition: 0.3;
    }

    .hoverBox:hover {
        transition: 0.3s;
        background-color: #64d9d5;
        opacity: 100%;
    }

    .eye {
        width: 10%;
        position: relative;
        top: 45%;
        left: 45%;
        opacity: 0%;
        transition: 0.3;

    }

    .hoverBox:hover .eye {
        opacity: 100%;
        transition: 0.3;
    }


}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #UI_UX {
        height: 20vh;
        background-color: #f6f6f6;
        text-align: center;
        padding: 50px;
        line-height: 150%;
        font-size: larger;
    }

    #UI_UX>h1 {
        font-size: 2rem;
    }

    #text {
        color: gray;
    }


    #Boxes {
        height: 55vh;
        background-color: lightgrey;
    }

    .darkGray {
        background-color: darkgrey;
        width: 25%;
        height: 20vh;
        float: left;
        transition: 0.3;
    }

    .lightGray {
        background-color: lightgray;
        width: 25%;
        height: 20vh;
        float: left;
        transition: 0.3;
    }

    .hoverBox:hover {
        transition: 0.3s;
        background-color: #64d9d5;
        opacity: 100%;
    }

    .eye {
        width: 10%;
        position: relative;
        top: 45%;
        left: 45%;
        opacity: 0%;
        transition: 0.3;
    }

    .hoverBox:hover .eye {
        opacity: 100%;
        transition: 0.3;
    }


}

@media only screen and (min-width: 1000px) {
    #UI_UX {
        height: 20vh;
        background-color: #f6f6f6;
        text-align: center;
        padding: 50px;
        line-height: 150%;
        font-size: larger;
    }

    #UI_UX>h1 {
        font-size: 2rem;
    }

    #text {
        color: gray;
    }


    #Boxes {
        height: 95vh;
        background-color: lightgrey;

    }

    .darkGray {
        background-color: darkgrey;
        width: 25%;
        height: 45vh;
        float: left;
        transition: 0.3;
    }

    .lightGray {
        background-color: lightgray;
        width: 25%;
        height: 45vh;
        float: left;
        transition: 0.3;
    }

    .hoverBox:hover {
        transition: 0.3s;
        background-color: #64d9d5;
        opacity: 100%;
    }

    .eye {
        width: 10%;
        position: relative;
        top: 45%;
        left: 45%;
        opacity: 0%;
        transition: 0.3;
    }

    .hoverBox:hover .eye {
        opacity: 100%;
        transition: 0.3;
    }

}